In [8]:
import pandas as pd
import numpy as np

In [9]:
products = pd.read_csv('../data/raw/products.csv')
products.head()

  product_id product_category  original_price  sale_price
0       P001          Fashion            3326        1786
1       P002          Fashion            2110        1740
2       P003    Home & Living            4195        3615
3       P004    Home & Living            2074        1366
4       P005      Electronics            2783        1845

In [10]:
products.tail()

   product_id product_category  original_price  sale_price
15       P016          Fashion            2194        1559
16       P017           Beauty            1501         774
17       P018    Home & Living             927         724
18       P019      Electronics            3038        1770
19       P020    Home & Living            4504        3426

In [11]:
products.shape

(20, 4)

In [13]:
products.dtypes

product_id          object
product_category    object
original_price       int64
sale_price           int64
dtype: object

In [14]:
products.isna().sum()

product_id          0
product_category    0
original_price      0
sale_price          0
dtype: int64

In [15]:
products.isnull().sum()

product_id          0
product_category    0
original_price      0
sale_price          0
dtype: int64

In [17]:
products.describe()

       original_price   sale_price
count       20.000000    20.000000
mean      2690.550000  1880.150000
std       1260.964521   967.045924
min        521.000000   300.000000
25%       2031.250000  1297.500000
50%       2488.500000  1796.500000
75%       3688.750000  2323.250000
max       4579.000000  3858.000000